Flask==0.12.3
Flask-Login==0.4.0
Flask-Mail==0.9.1
Flask-OAuth==0.12
Flask-SQLAlchemy==2.2
Flask-User==0.6.11
Flask-WTF==0.14.2
Jinja2==2.11.3
oauth2==1.9.0.post1
oauthlib==1.0.3
requests==2.10.0
requests-oauthlib==0.6.2
SQLAlchemy==1.2.18
urllib3==1.13.1
virtualenv==15.0.1
websocket-client==0.40.0
Werkzeug==0.11.6
WTForms==2.1
xdiagnose==3.8.4.1
xkit==0.0.0
XlsxWriter==0.7.3
