{% extends "base.html" %}
{% block content %}
	<div class="row">
	    <div class="twelve columns">
			{% if user %}
				<script>var userId = '{{ user.id }}';</script>
			    <p id="shareCallMessage">Welcome back, {{ user.username|title }}!</p>
		    {% else %}
			    <script>
			    	var ANONYMOUS_USER_ID = '2';
			    	var userId = ANONYMOUS_USER_ID;
			    </script>
			    <p id="shareCallMessage">Welcome to Video Chat!</p>
		    {% endif %}
	    </div>
	</div>

    <div class="row">
	    <div class="twelve columns">
		    {% if room_name %}
		    	<script>
			    	var roomName = '{{ room_name }}';
			    	var callId = '{{ call_id }}';
		    	</script>
		    	<div class="responsive-container">
		    		<iframe id="videoCallFrame" src="{{ room_name }}" allowfullscreen></iframe>
		    	</div>
		    {% else %}
		    	<script>
			    	var roomName = null;
			    	var callId = null;
		    	</script>
		    	<div class="responsive-container">
		    		<iframe id="videoCallFrame" src="" allowfullscreen></iframe>
		    	</div>
		    {% endif %}
    	</div>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    {% if room_name %}
    	<script src="../../static/scripts/loadVideoCall.js"></script>
    {% else %}
    	<script src="../static/scripts/loadVideoCall.js"></script>
    {% endif %}

{% endblock %}